.conversation-page {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
 -webkit-flex-direction: column;
  overflow: hidden;
}

.navbar-inner {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  background-color: rgb(25, 165, 228);
  text-align: left;
  text-transform: uppercase;
}

.navbar-inner .icon {
  cursor: pointer;
  font-size: 18px;
  padding: 6px 4px 4px 6px;
  margin-left: 6px;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 6px;
}

.navbar-inner .title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
}

.navbar-inner .icon.icon-back {
  border: none;
}

.navbar-inner a {
  color: white
}

/*.participant-container {
  height: 100px;
}*/

.create-conversation-header {
  text-align: center;
  font-size: 20px;
}

.create-conversation-button {
  margin-top: 20px;
  height: 40px;
  padding: 5px;
}

.close-popup.close-button {
  position:absolute;
  right:20px;
  top:20px;
}

.close-popup i {
  font-size: 24px;
  margin-right: 0;
}

.header {
  display: flex;
}

layer-presence {
  margin-top: 3px;
  margin-right: 8px;
}

#identity {
  z-index: 10000;
}
